.flex {
 display: flex
}
.inline--block {
  display: inline-block
}
.block {
  display: block
}
.flex--1 {
  flex: 1
}
.flex--2 {
  flex: 2
}
.flex--3 {
  flex: 3
}
.flex--4 {
  flex: 4
}
.flex--5 {
  flex: 5
}
.flex--jcenter {
  display: flex
  justify-content: center
}
.flex--acenter {
  display: flex 
  align-items: center
}
.flex--bcenter {
  display: flex
  justify-content: center
  align-items: center
}
.position--r {
  position relative
}
.position--a {
  position absolute
}
.height--100 {
  height 100%
}
.width--100 {
  width: 100%
}
.both--100 {
  width 100%
  height 100%
}